@font-face
{
    font-family:'Ocsquare';
    src: url(/fonts/TTOctosquaresComp-Regular.otf) format('opentype'), url(/fonts/TTOctosquaresComp-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
}

:root
{
    --corHeader: #f6f6fc;
    --corTextoClaro: #f6f6fc;
    --corTextoEscuro:#171834;
    --corTextoMain: var(--corTextoClaro);
    --corCartoes: var(--corTextoClaro);
    --corBackground: #171834;
    --corTextoCartoes: (--corTextoEscuro);
    --corBotoesHover: #1e3e9e;
    --corSombraNeon: #7a9bfc;
    --corSombraNeonHover: #98fc7a;
    --corSombraEscura: var(--corBackground);
    --corInputHover: #cfcffd49;
}

/*CONFIGURAÇÕES PADRÃO DE TODAS AS PAGINAS*/
body
{
    
    background-color: var(--corBackground);
    font-family: 'Ocsquare';
   /* height: 100vh;*/
}

header
{   
    width: 100vw;
    min-width: 100vw;
    height: 100px;
    background-color: var(--corHeader);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img
{
    max-width: 300px;
    width: 30%;
}

header nav
{
    display: flex;
    align-items: center;
}

header nav img
{
    max-width: 60px;
    margin-right: 20px;
}

header nav ul 
{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-right: 50px;
}

header nav ul li
{
    list-style: none;
}

header nav ul a 
{
    text-decoration: none;
    color: var(--corTextoEscuro);
    font-size: 1.4em;
}

header nav ul a:hover
{
    color: #0130BC;
    transition: all 0.3s;
    font-size: x-large;
}

main h1
{
    color: var(--corTextoMain);
    text-align: center;
    margin: 30px 0px;
}

/*PRIMEIRA PAGINA*/
#body-inicial
{
    background-image: url(/image/Background.png);
    background-size: 100vw;
    display: flex;
}

.title h1, h2
{
    color: #fff;
}

.title h2
{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title h2
{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px;
}

.title
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
    margin: auto;
    margin-top: 150px; 
}

.title a
{
    max-width: 100px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: rgb(238, 8, 211);
    border-radius: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/*PAGINA DE PRODUTOS*/
.container-cartoes
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cartoes
{
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--corCartoes);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px var(--corSombraNeon);
    padding: 10px 25px;
    margin: 0px 5px;
    margin-bottom: 40px;
}

.cartoes:hover
{
    box-shadow: 0px 0px 30px 5px var(--corSombraNeonHover);
}

.cartoes h3
{
    text-align: center;
    color: var(--corTextoCartoes);
    font-size: 1.4em;
    font-weight: bolder;
}

.cartoes img
{
    max-width: 200px;
}

.todos-produtos .cartoes 
{
    height: 270px;
    justify-content: space-between;
}

.todos-produtos .cartoes img
{
    max-width: 150px;
}

.todos-produtos h2
{
    font-size: 1.8em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}


/*PAGINA DA NOSSA EQUIPE*/
.container-equipe
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cartoes-equipe
{
    background-color: var(--corHeader);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 10px;
    margin-bottom: 40px;
}

.cartoes-equipe h3
{
    margin-bottom: 10px;
}

.cartoes-equipe .foto-mib
{
    filter: grayscale(100%) blur(7px);
    max-width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.cartoes-equipe img:hover
{
    filter: grayscale(0%);
}

.caixa-logos-redesociais
{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.caixa-logos-redesociais img
{
    max-width: 40px;
}

/*PAGINA DE FORMULARIO*/
.contato-formulario-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-formulario
{
    width: 45vw;
    min-width: 335px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px var(--corSombraNeon);
    background-color: var(--corHeader);
    border-radius: 4px;
    padding: 2rem;
}

.header-formulario
{
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.header-formulario h2
{
    color: var(--corTextoEscuro);
}

.botao-ajuda-formulario
{
    display: flex;
    align-items: center;
}

.botao-ajuda-formulario button
{
    border: none;
    background-color: var(--corBackground);
    padding: 0.4rem 1rem;
    border-radius: 5px;
}

.botao-ajuda-formulario button:hover
{
    background-color: var(--corBotoesHover);
    cursor: pointer;
}

.botao-ajuda-formulario a 
{
    text-decoration: none;
    color: var(--corTextoClaro);
    font-weight: 500;
}

.grupo-input
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.3rem;
}

.caixa-input
{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.caixa-input input
{
    margin: 0.4rem 0;
    padding: 0.5rem 0.6rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px var(--corSombraEscura);
}

.alinhamento-input 
{
   display: flex;
   align-items: center;
}

.alinhamento-input img
{
    margin-left: 5px;
}

.caixa-input.sucesso input
{
    border: 3px solid #4ECA64;
}

.caixa-input.erro input
{
    border: 3px solid #D84A4A;
}

.caixa-input input:hover
{
    background-color: var(--corInputHover);
}

.caixa-input input:focus-visible
{
    outline: 1.8px solid var(--corBackground);
}

.caixa-input label, .titulo-motivoContato h4
{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--corTextoEscuro);
}

.caixa-input input::placeholder
{
    color: var(--corTextoEscuro);
}

.grupo-motivoContato
{
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
    padding: 0 0.5rem;
}

.input-motivoContato
{
    display: flex;
    align-items: center;
}

.input-motivoContato input
{
    margin-right: 0.3rem;
}

.input-motivoContato input label
{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--corTextoEscuro);
}

.textoCliente label
{
    margin-top: 0.6rem;
    font-size: 1.05rem;
}

.textoCliente textarea
{
    box-shadow: 1px 1px 6px var(--corSombraEscura);
    border-radius: 10px;
    border: none;
    margin-top: 0.5rem;
    resize: none;
    height: 10rem;
}

.textoCliente textarea:focus-visible
{
    outline: 1.8px solid var(--corBackground);
}

.textoCliente
{
    display: flex;
    flex-direction: column;
}

.botao-enviar button 
{
    width: 30%;
    margin-top: 1.5rem;
    border: none;
    background-color: var(--corBackground);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.botao-enviar button:hover
{
    background-color: var(--corBotoesHover)
}

.botao-enviar button a
{
    text-decoration: none;
    color: var(--corTextoClaro);
    font-weight: 500px;
}

/**/
footer
{
    margin-top: 30px;
    background-color: var(--corHeader);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixa-textos-footer
{
    color: var(--corTextoEscuro);
    font-size: 1.2em;
    padding: 0.5em;
    text-align: justify;
}

.logo-footer
{
    max-width: 150px;
    padding: 0.7em;
}

/*PARTE DE RESPONSIVIDADE*/

/*@media (max-width: 700px)
{
    header nav ul
    {
        gap: 10px;
    }
   
}

@media (max-width: 600px)
{
    header nav ul a 
    {
        font-size: 1.2em;
    }
}

@media (max-width: 529px)
{
    header nav img
    {
        width: 50px;
    }

    header nav ul 
    {
        margin-right: 20px;
    }
}

@media (max-width: 410px)
{
    .logo
    {
        display: none;
    }

    header nav
    {
        gap: 30px;
    }

    header nav ul
    {
        margin-left: 20px;
    }
}*/