/*importando as fonts que vão ser utilizadas*/
@font-face
{
    font-family:'Ocsquare';
    src: url(/fonts/TTOctosquaresComp-Regular.otf) format('opentype'), url(/fonts/TTOctosquaresComp-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*resetando algumas informações iniciais da pagina*/
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
}

/*area de criação de variaveis - utilizada para auxiliar a criação do dark-mode/light-mode*/
:root
{
    --corHeader: #f6f6fc;
    --corTextoClaro: #f6f6fc;
    --corTextoEscuro:#171834;
    --corTextoMain: var(--corTextoClaro);
    --corCartoes: var(--corTextoClaro);
    --corBackground: #171834;
    --corTextoCartoes: (--corTextoEscuro);
    --corBotoesHover: #1e3e9e;
    --corSombraNeon: #7a9bfc;
    --corSombraNeonHover: #98fc7a;
    --corSombraEscura: var(--corBackground);
    --corInputHover: #cfcffd49;
    --imagemLogo: url(image/logo bmrw preta.png);
}


/*CONFIGURAÇÕES PADRÃO DE TODAS AS PAGINAS*/
body
{
    
    background-color: var(--corBackground);
    font-family: 'Ocsquare';
   
}

header
{   
    width: 100vw;
    min-width: 100vw;
    height: 100px;
    background-color: var(--corHeader);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img
{
    max-width: 300px;
    width: 30%;
}

header nav 
{
    display: flex;
    align-items: center;
}

header nav img
{
    max-width: 60px;
    margin-right: 20px;
}

header nav ul 
{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-right: 50px;
}

header nav ul li
{
    list-style: none;
}

header nav ul a 
{
    text-decoration: none;
    color: var(--corTextoEscuro);
    font-size: 1.4em;
}

header nav ul a:hover
{
    color: #0130BC;
    transition: all 0.3s;
    font-size: x-large;
}

main h1
{
    color: var(--corTextoMain);
    text-align: center;
    margin: 30px 0px;
}

/*PRIMEIRA PAGINA*/
#body-inicial
{
    background-image: url(/image/Background.png);
    background-size: 100vw;
    display: flex;
}

.title h1, h2
{
    color: #fff;
}

.title h2
{
    font-size: 50px;
    font-family: 'Ocsquare';
}

.title h2
{
    font-size: 75px;
    font-family: 'Ocsquare';
    margin-bottom: 10px;
}

.title
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
    margin: auto;
    margin-top: 150px; 
}

.title a
{
    text-align: center;
    max-width: 100px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: rgb(238, 8, 211);
    border-radius: 40px;
    font-family: 'Ocsquare';
}

/*PAGINA QUEM SOMOS*/
.quemSomos-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.quemSomos-container img
{
    width: 50%;
    max-width: 500px;
}

.quemSomos-container p
{
    text-align: justify;
    font-size: 1.5em;
    color: var(--corTextoClaro);
    width: 60%;
    max-width: 600px;
}
/*PAGINA DE PRODUTOS*/
.container-cartoes
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cartoes
{
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--corCartoes);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px var(--corSombraNeon);
    padding: 10px 25px;
    margin: 0px 5px;
    margin-bottom: 40px;
}

.cartoes:hover
{
    box-shadow: 0px 0px 30px 5px var(--corSombraNeonHover);
    cursor: pointer;
}

.cartoes h3
{
    text-align: center;
    color: var(--corTextoCartoes);
    font-size: 1.4em;
    font-weight: bolder;
}

.cartoes img
{
    max-width: 200px;
}

.cartoes .imagem-headset 
{
    max-width: 180px;
}
/*area do carrossel*/
.container-carrossel
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider
{   margin: 120px 0px;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides
{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input
{
    display: none;
}

.slide
{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img
{
    width: 800px;
}

.manual-navegacao
{
    position: absolute;
    width: 800px;
    margin-top: -70px;
    display: flex;
    justify-content: center;
}

.manual-botao
{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-botao:hover
{
    background-color: var(--corBackground);
}

.manual-botao:not(:last-child)
{
   margin-right: 30px;
}

#radio1:checked ~ .primeiro
{
    margin-left: 0;
}

#radio2:checked ~ .primeiro
{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro
{
    margin-left: -50%;
}

#radio4:checked ~ .primeiro
{
    margin-left: -75%;
}

#radio5:checked ~ .primeiro
{
    margin-left: -100%;
}

.navegacao-automatica div 
{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegacao-automatica
{
    position: absolute;
    width: 800px;
    margin-top: 330px;
    display: flex;
    justify-content: center;
}

.navegacao-automatica div:not(:last-child)
{
    margin-right: 30px;
}

#radio1:checked ~ .navegacao-automatica .botao-automatico1
{
    background-color: var(--corBackground);
}

#radio2:checked ~ .navegacao-automatica .botao-automatico2
{
    background-color: var(--corBackground);
}

#radio3:checked ~ .navegacao-automatica .botao-automatico3
{
    background-color: var(--corBackground);
}

#radio4:checked ~ .navegacao-automatica .botao-automatico4
{
    background-color: var(--corBackground);
}

#radio5:checked ~ .navegacao-automatica .botao-automatico5
{
    background-color: var(--corBackground);
}

/*fim da area do carrossel*/

.todos-produtos .cartoes 
{
    height: 270px;
    justify-content: space-between;
}

.todos-produtos .cartoes img
{
    max-width: 150px;
}

.todos-produtos h2
{
    font-size: 1.8em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}


/*PAGINA DA NOSSA EQUIPE*/
.container-equipe
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 220px;
}

.cartoes-equipe
{
    background-color: var(--corHeader);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 10px;
    margin-bottom: 40px;
}

.cartoes-equipe p
{
    font-size: 1.2rem;
}

.cartoes-equipe h3
{
    margin-bottom: 10px;
}

.cartoes-equipe .foto-mib
{
    filter: grayscale(100%) blur(7px);
    transition: 2s;
    max-width: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.cartoes-equipe img:hover
{
    filter: grayscale(0%);
    transition: 1.3s;
}

.caixa-logos-redesociais
{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.caixa-logos-redesociais img
{
    max-width: 40px;
}

/*PAGINA DE FORMULARIO*/
.contato-formulario-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-formulario
{
    width: 45vw;
    min-width: 335px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px var(--corSombraNeon);
    background-color: var(--corHeader);
    border-radius: 4px;
    padding: 2rem;
}

.header-formulario
{
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.header-formulario h2
{
    color: var(--corTextoEscuro);
}

.botao-ajuda-formulario
{
    display: flex;
    align-items: center;
}

.botao-ajuda-formulario button
{
    border: none;
    background-color: var(--corBackground);
    padding: 0.4rem 1rem;
    border-radius: 5px;
}

.botao-ajuda-formulario button:hover
{
    background-color: var(--corBotoesHover);
    cursor: pointer;
}

.botao-ajuda-formulario a 
{
    text-decoration: none;
    color: var(--corTextoClaro);
    font-weight: 500;
}

.grupo-input
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.3rem;
}

.caixa-input
{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-right: 10px;
    margin-left: 5px;
}

.caixa-input input
{
    margin: 0.4rem 0;
    padding: 0.5rem 0.6rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px var(--corSombraEscura);
}

.caixa-input i
{
    visibility: hidden;
}

.caixa-input.sucesso input
{
    border: 2.5px solid #4ECA64;
}

.caixa-input.sucesso i .icone-sucesso
{
    visibility: visible;
    position: relative;
    bottom: 50px;
    left: 200px;
}

.caixa-input.erro input
{
    border: 2.5px solid #D84A4A;
}

.caixa-input.erro i .icone-erro
{
    visibility: visible;
    position: relative;
    bottom: 77px;
    left: 199px;
}

.caixa-input small
{
    visibility: hidden;
}


.caixa-input.erro small
{
    visibility: visible;
    color: #b82b2b;
    font-size: 16px;
}

.caixa-input input:hover
{
    background-color: var(--corInputHover);
}

.caixa-input input:focus-visible
{
    outline: 1.8px solid var(--corBackground);
}

.caixa-input label, .titulo-motivoContato h4
{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--corTextoEscuro);
}

.caixa-input input::placeholder
{
    color: var(--corTextoEscuro);
}

.grupo-motivoContato
{
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
    padding: 0 0.5rem;
}

.input-motivoContato
{
    display: flex;
    align-items: center;
}

.input-motivoContato input
{
    margin-right: 0.3rem;
}

.input-motivoContato input label
{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--corTextoEscuro);
}

.textoCliente label
{
    margin-top: 0.6rem;
    font-size: 1.05rem;
}

.textoCliente textarea
{
    box-shadow: 1px 1px 6px var(--corSombraEscura);
    border-radius: 10px;
    border: none;
    margin-top: 0.5rem;
    resize: none;
    height: 10rem;
}

.textoCliente textarea:focus-visible
{
    outline: 1.8px solid var(--corBackground);
}

.textoCliente
{
    display: flex;
    flex-direction: column;
}

.botao-enviar 
{
    width: 30%;
    margin-top: 1.5rem;
    border: none;
    background-color: var(--corBackground);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    color: var(--corHeader);
}

.botao-enviar:hover
{
    background-color: var(--corBotoesHover)
}


/**/
footer
{
    margin-top: 30px;
    background-color: var(--corHeader);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixa-textos-footer
{
    color: var(--corTextoEscuro);
    font-size: 1.2em;
    padding: 0.5em;
    text-align: justify;
}

.logo-footer
{
    max-width: 150px;
    padding: 0.7em;
}

.cartoes{
    position: relative;
    width: 400px;
}
.image__img{
    display: block;
    width: 100%;
}
.image__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.6);
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    src: url(/fonts/TTOctosquaresComp-Regular.otf) format('opentype'), url(/fonts/TTOctosquaresComp-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image__overlay--blur{
backdrop-filter: blur(5px);
}
.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover{
    opacity: 1;
}
.image__overlay:hover > *{
    transform: translateY(0);
}
.image__title{
font-size: 2em;
font-weight: bold;
}
.image__description{
    font-size: 1.25em;
    margin-top: 0.25em;
}
